@font-face {
  font-family: "Entanglement";  
  src: url("\/fonts/Entanglement-rgpRB.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal;
}

@font-face {
  font-family: "Chopsic";  
  src: url("\/fonts/Chopsic-K6Dp.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal;
}

@font-face {
  font-family: "AloneinSpace";  
  src: url("\/fonts/AloneInSpaceReguler-qZ2xr.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal;
}

body {
  background-repeat: round;
  background: url("/\images/bg2.gif");
}

div.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('images/bg2.gif');
}

/* navigator */
.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-brand {
  padding-top: 0px;
  padding-bottom: 0px;
}

.nav-link {
  font-size: 16px;
}

/* main part */
.mm {
  width: 100%;
  padding: 130px;
  background-color: #0000009A;
}

.mm .title {
  font-family: Chopsic;
  color: white;
  font-size: 36px;
}

.carousel {
  width: 850px;
  height: 100%;
}

.mm .second-block {
  text-align: left;
  margin-left: 8px;
}

.mm .buy-butts {
  width: max-content;
}

.carousel-inner {
  height: 500px;
}

img.d-block {
  height: 500px;
  object-fit: contain;
}

@media (max-width: 1380px) {
  .carousel {
    width: 100%;
  }
  .mm .title {
    text-align: center;
  }
  .mm .second-block {
    margin-top: 16px;
    margin-left: 0px;
  }
  .mm .description {
    font-family: Chopsic;
    color: white;
    padding-right: 12%;
  }
}

.mm .description {
  font-family: Chopsic;
  color: white;
  position: absolute;
  padding-right: 6%
}

.mm .price {
  font-family: Chopsic;
  color: rgb(250, 77, 77);
  margin-top: 200%;
}

/* footer */
.footer {
  width: 100%;
  height: 80px;
  background-color: #212529;
  text-align: center;
  display: table;
}

.footer font {
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-family: var(--bs-body-font-family);
  font-size: 12px;
}